// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
.crew{
    background:url('/assets/crew/background-crew-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // Page Container/Content
    .crew-content{
        position:relative;
        width:90%;
        margin: auto auto;

        // Flex Container
        .crew-content--flex-container{
            width:100%;
            // background-color: aqua;
    
            // Flex Content
            .crew-content--flex-container--content{
                display:flex;
                flex-direction: row-reverse;
                justify-content:space-between;

                // background-color: rgb(150, 240, 240);
        

                // Left Container (text + Carousel)
                .crew-content--flex-container-left{
                    display:flex;
                    width:50%;
                    flex-direction: column;
                    margin-left:5rem;

                    // All Text
                    .crew-content--flex-container-left--content-allText{
                        // background-color: rgb(146, 124, 204);
                        
                        // Crewmember's Job
                        .crew-job{
                            font-size:2.5rem;
                            text-transform: uppercase;
                            font-family: vars.$general-font;
                            color:vars.$secondary-color;
                        }

                        h2{
                            font-size:4rem;
                        }

                        // Paragraph
                        .crew-content--flex-container-left--content-allText--text{
                            // background-color: rgb(142, 97, 172);
                            width:58%;
                        }
                    }

                    // Dots Container
                    .crew-content--flex-container-left--content--carousel{
                        // background-color: rgb(69, 165, 93);
                        display:flex;
                        width:30%;
                        justify-content:space-around;

                        // Dots
                        .carousel-dot{
                            width:20px;
                            height:20px;
                            margin:10px 0;
                            background-color:rgb(77, 77, 77);
                            cursor:pointer;
                            border-radius:30px;
                            -webkit-border-radius:30px;
                            -moz-border-radius:30px;
                            -ms-border-radius:30px;
                            -o-border-radius:30px;
                            transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -ms-transition: all 0.3s;
                            -o-transition: all 0.3s;
                        }

                        // Dots active
                        .comm--active, .missSpe--active, .pilot--active, .flight--active{
                            background-color:vars.$light-color;
                        }
                        
                        // Dots Hover
                        .carousel-dot:hover{
                            background-color:grey;
                            transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -ms-transition: all 0.3s;
                            -o-transition: all 0.3s;
                        }

                    }
                }

                // Crew Member's Photograph
                    .crew-content--flex--container-right--content--image{
                        // background-color: rgb(202, 190, 75);
                        width:60%;
                        display:flex;
                        justify-content:center;
                        
                        img{
                            display:block;
                            position:relative;
                            bottom:0;
                        }
                    }
                }

                }
            }
        }


// ## Media queries for responsivness ##
@media screen and (min-width: 1024px) {
    
}
// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .crew{
        background:url('/assets/crew/background-crew-tablet.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
// # Media query -- MOBILE
@media screen and (max-width: 767px) {
    .crew{
        background:url('/assets/crew/background-crew-mobile.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    }