// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
.crew{
    background:url('/assets/crew/background-crew-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // Page Container/Content
    .crew-content{
        width:90%;
        margin: auto auto;
        
        // Crew Member's Photograph
        .crew-content--flex--image-container{
            display:flex;
            width:40%;
            position:absolute;
            bottom:0;
            right:0;
            
            .crew-content--flex--image-container--image-container--content-img{
                position:relative;
            }
        }
        
        // Flex Container
        .crew-content--container{
            position:relative;
            width:100%;

            // Flex Content
            .crew-content--container--content{
                width:50%;
        

                // Left Container (text + Carousel)
                .crew-content--flex-container-left{
                    display:flex;
                    flex-direction: column;
                    margin-left:5rem;

                    // All Text
                    .crew-content--flex-container-left--content-allText{
                        
                        // Crewmember's Job
                        .crew-job{
                            font-size:2.5rem;
                            text-transform: uppercase;
                            font-family: vars.$general-font;
                            color:vars.$secondary-color;
                        }

                        h2{
                            font-size:4rem;
                        }

                        // Paragraph
                        .crew-content--flex-container-left--content-allText--text{
                            width:58%;
                        }
                    }

                    
                }                
            }
            
        }
        // Dots Container
        .crew-content--container--carousel{
            position:absolute;
            height:20vh;
            bottom:0;
            width:15%;
            margin-left:5rem;
            
            .crew-content--container--carousel--content{
                position:relative;
                display:flex;
                gap:15%;


                // Dots
                .carousel-dot{
                    width:20px;
                    height:20px;
                    margin:10px 0;
                    background-color:rgb(77, 77, 77);
                    cursor:pointer;
                    border-radius:30px;
                    -webkit-border-radius:30px;
                    -moz-border-radius:30px;
                    -ms-border-radius:30px;
                    -o-border-radius:30px;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                }

                // Dots active
                .comm--active, .missSpe--active, .pilot--active, .flight--active{
                    background-color:vars.$light-color;
                }
                
                // Dots Hover
                .carousel-dot:hover{
                    background-color:grey;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                }
            }
        }
    }
}


// ## Media queries for responsivness ##
@media screen and (min-width: 1024px) {
    
}
// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .crew{
        background:url('/assets/crew/background-crew-tablet.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
// # Media query -- MOBILE
@media screen and (max-width: 767px) {
    .crew{
        background:url('/assets/crew/background-crew-mobile.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    }