// # Import shared styles
@use '../../styles/index';



// ## Styling Component ##
.crew{
    background:url('/assets/crew/background-crew-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.crewmember-function{
    font-weight: lighter;
}