// # general variables
$general-font:'Bellefair', serif;
$secondary-font:'Barlow Condensed', sans-serif;
$text-font:'Open Sans', sans-serif;
$light-color: #FFFFFF;
$dark-color:#0B0D17;
$hover-border:rgb(137,138,143);
$secondary-color:rgb(141,142,146);
$text-color:#D0D6F9;
$title-opacity:0.5;

$page-height:100vh;
$space-from-header:20vh;

$space-from-header-tablet:15vh;

$space-from-header-mobile:10vh;