// # general variables
$general-font:'Bellefair', serif;
$secondary-font:'Barlow Condensed', sans-serif;
$title-color: #FFFFFF;
$dark-color:#0B0D17;
$text-color:#D0D6F9;
$page-height:100vh;
$space-from-header:10vh;
$title-opacity:0.75;