@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:wght@300;400&family=Bellefair&display=swap');

// # general styling -- body
html, body { overflow-x: hidden; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#fff;
}

// # ALL TITLES & SUBTITLES
h1, h2, h3, h4, .heading1, .subheading1{
  text-transform:uppercase;
  font-family:vars.$general-font;
  color:vars.$light-color;
}

h5, .title, .subheading2, .navtext, .tabtext, .nav-link{
  text-transform:uppercase;
  font-family:vars.$secondary-font;
}

// # MAIN TITLE
h1, .heading1{
font-size:150px;
padding:3rem 0;
}

h2{
  font-size:100px;
  margin:25px 0;
}

h3{
  font-size:56px;
}

h4{
  font-size:32px;
}

h5, .title{
color:vars.$text-color;
font-size:28px;
letter-spacing: 4.75px;
}

.subheading1{
  font-size:28px;
}
.subheading2{
  font-size:14px;
  letter-spacing: 2.35px;
  padding:1rem 0;
}


// # Page's title
.title{
  color:vars.$light-color;
  margin:5rem 0 3rem 7.5rem;
}

// # Page's title's number
.title-darkNumber{
  opacity:vars.$title-opacity;
  padding-right:20px;
  font-weight:bolder;
}

// # General text (paragraph, tabs)
.text{
  line-height:40px;
  font-family: vars.$text-font;
  font-weight: lighter;
  color:vars.$text-color;
  font-size:23px;
}


// # Every page from the app -- padding & spacing from header, page's height
.homepage, .crew, .technology, .destinations{
  height:vars.$page-height;
  padding-top:vars.$space-from-header;
}


// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body{
    height:vars.$page-height;
  }

  // # ALL TITLES & SUBTITLES
  // # MAIN TITLE
    h1, .heading1{
      padding:1.5rem 0 1.5rem 0;
      font-size:160px;
  }

  h5, .title{
    font-size:23px;
    }

  // # Page's title
  .title{
    margin:0 0 0 1rem;
  }

  // # Page's title's number
  .title-darkNumber{
    padding-right:10px;
  }

  // # Page's text
  .text{
    line-height:35px;
    color:vars.$text-color;
    font-size:16px;
  }

  // # Every page from the app -- padding & spacing from header, page's height
  .homepage, .crew, .technology, .destinations{
    padding-top:vars.$space-from-header-tablet;
    height:vars.$page-height;
  }
}

// # Media query -- MOBILE
@media screen and (max-width: 767px) {
  // # ALL TITLES & SUBTITLES
  // # MAIN TITLE
  h1, .heading1{
    font-size: 85px;
    padding: 1.5rem 0;
  }

  h5, .title{
    text-align: center;
    font-size:18px;
    letter-spacing:2.5px;
  }

  // # Page's title
  .title{
    margin:auto;
  }

  // # Page's text
  .text{
    font-weight: 400;
    // line-height: 25px;
    // font-size: 17px;
    // letter-spacing:0px;
  }


  // # Every page from the app -- padding & spacing from header, page's height
  .homepage, .crew, .technology, .destinations{
    padding-top:vars.$space-from-header-mobile;
    height:vars.$page-height;
  }
}