@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Open+Sans:wght@300;400&display=swap');


// # general styling
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#fff;
}

// # all titles & subtitles
h1, h2, h3, h4, .heading1, .subheading1{
  text-transform:uppercase;
font-family:vars.$general-font;
color:vars.$light-color;
}
h5, .title, .subheading2, .navtext{
  text-transform:uppercase;
  font-family:vars.$secondary-font;
}
h1, .heading1{
font-size:150px;
margin:25px 0;
}

h2{
  font-size:100px;
  margin:25px 0;
}
h3{
  font-size:56px;
}
h4{
  font-size:32px;
}
h5, .title{
color:vars.$text-color;
font-size:28px;
letter-spacing: 4.75px;
}

.subheading1{
  font-size:28px;
}
.subheading2{
  font-size:14px;
  letter-spacing: 2.35px;
  padding:1rem 0;
}

.navtext{
  font-size:16px;
  letter-spacing: 2.7px;
  padding-bottom:3px;
  cursor:pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.navtext:hover{
  border-bottom:4px solid grey;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.navtext-active{
border-bottom:4px solid vars.$light-color;
}

.title{
  color:vars.$light-color;
  margin:5rem;
}

.title-darkNumber{
  opacity:vars.$title-opacity;
  padding-right:20px;
  font-weight:bolder;
}

.text{
  font-family:vars.$secondary-font;
  line-height:35px;
  color:vars.$text-color;
  font-size:22px;
}


// # Every page from the app
.homepage, .crew, .technology, .destinations{
  padding-top:vars.$space-from-header;
  height:vars.$page-height;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
