// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
// # Common properties
.homepage-flex, .homepage-flex-left, .homepage-flex-right{
    display:flex;
}

// # The whole page -- background
.homepage{
    background:url('/assets/home/background-home-desktop.jpg') no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    overflow-y:auto;

    // # Page content
    .homepage-content{
        width:80%;
        padding-top:15vh;
        margin: auto auto;
    }

    // # Flex container
    .homepage-flex{
        justify-content:space-around;

        // # Left Container -- text
        &-left{
            flex-direction: column;
            position:relative;
            width:50%;
            color:vars.$text-color;
            padding:20px;
            
            // # Left container's paragraph text
            &--paragraph{
                width:64%;
                font-size:17px;
                letter-spacing: 0.5px;
                line-height:35px;
            }
        }
        
        // # Right container -- button
        &-right{
            width:30%;
            justify-content: center;
            align-content: flex-end;
            align-items: flex-end;

            // # Button itself
            &--explore-button{
                display:block;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                border:none;
                border:1px solid vars.$light-color;
                outline:1px solid vars.$light-color;
                background-color:vars.$light-color;
                color:vars.$dark-color;
                font-size:2.3rem;
                font-family:vars.$general-font;
                text-transform: uppercase;
                transition: all 1s ease-in-out;
                -webkit-transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
            }
            
            // # Button effect on hover
            &--explore-button:hover{
                text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
                outline:50px solid rgba(255,255,255, 0.3);
                transition: all 1s ease-in-out;
                -webkit-transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
            }
        }
    }
    
}



// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {

    // # The whole page -- background
    .homepage{
        background:url('/assets/home/background-home-tablet.jpg') no-repeat center center fixed; 
        background-size: cover;
        -webkit-background-size: cover;

        // # Page content
        .homepage-content{
            width:100%;
            padding-top:0vh;
            text-align:center;
        }
        
        // # Flex container
        .homepage-flex{
            flex-direction: column;
            
            // # Left Container -- text
            &-left{
                margin-top:1%;
                width:100%;
                align-items: center;
                height:50vh;
                
                // # Left container's paragraph text
                &--paragraph{
                    width:70%;
                }
            }
            
            // # Right container -- button
            &-right{
                width:100%;
                padding-top:5%;
                margin: auto auto;
    
                // # Button itself
                &--explore-button{
                    width: 270px;
                    height: 270px;
                    border-radius: 50%;
                }
            }   
        }
    }
}


// # Media query -- MOBILE
@media screen and (max-width: 767px) {
    // # The whole page -- background
    .homepage{
        background:url('/assets/home/background-home-mobile.jpg') no-repeat center center fixed; 
        background-size: cover;
        -webkit-background-size: cover;
    
            // # Page content
            .homepage-content{
                width:100%;
                padding-top:0vh;
                text-align:center;
            }
            
            // # Flex container
            .homepage-flex{
                flex-direction: column;
                
                // # Left Container -- text
                &-left{
                    margin-top:1%;
                    width:100%;
                    align-items: center;
                    height:50vh;
                    
                    // # Left container's paragraph text
                    &--paragraph{
                        width: 90%;
                        font-weight: 400;
                        line-height: 25px;
                        font-size: 17px;
                        letter-spacing:0px;
                    }
                }
                
                // # Right container -- button
                &-right{
                    width:100%;
                    padding-top: 4vh;
                    margin: auto auto;

                    // # Button itself
                    &--explore-button{
                        width: 150px;
                        height: 150px;
                        font-size: 1.5rem;
                    }
                }   
            }
    }
}