// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
.homepage{
    background:url('/assets/home/background-home-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .homepage-content{
        width:80%;
        margin: auto auto;
    }

    .homepage-flex{
        display:flex;
        justify-content:space-between;
        align-content:flex-end;

        .homepage-flex-left, .homepage-flex-right{
            width:40%;
        }

        .homepage-flex-left{
            color:vars.$text-color;
            font-size:13px;

            .homepage-flex-left--paragraph{
                width:80%;
            }
        }

        .explore-button{
            display:block;
            border:none;
            border-radius:100%;
            width:150px;
            height:150px;
            background-color:vars.$light-color;
            color:vars.$dark-color;
        }
        .explore-button:hover{

        }
    }
}


// ## Media queries for responsivness ##
@media screen and (min-width: 1024px) {
    
}
// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}
// # Media query -- MOBILE
@media screen and (max-width: 767px) {

    }