// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
.technology{
    background:url('/assets/technology/background-technology-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // Page Container/Content
    .technology-content{
        width:90%;
        color:vars.$text-color;
        margin: auto auto;

        &--image-container{
            display:flex;
            justify-content: right;
            width:50%;
            
            &--image{
                position:absolute;
                right:0;

            }
        }

        // Flex Container
        .technology-flex{
            width:80%;
            height:60vh;
            display:flex;
            flex-direction: row-reverse;
            justify-content:space-between;
            
            // Flex Content
            &-allText-nd-buttons{
                display:flex;
                justify-content:flex-start;
                align-content: center;
                align-items:center;
                margin-left:7.5rem;
                gap:10%; 

                &--buttons-container{
                    display:flex;
                    flex-direction:column;
                    
                    &--button{
                        display:flex;
                        justify-content: center;
                        align-items:center;
                        align-content:center;
                        margin:2vh 0;
                        font-size:2rem;
                        font-family:vars.$general-font;
                        color:vars.$light-color;
                        cursor:pointer;
                        width:100px;
                        height:100px;
                        border:1px solid vars.$hover-border;
                        border-radius:100px;
                        -webkit-border-radius:100px;
                        -moz-border-radius:100px;
                        -ms-border-radius:100px;
                        -o-border-radius:100px;
                    }
                    
                    &--button:hover{
                        border:2px solid grey;
                    }

                    .spaceport-active, .launchV-active, .spaceCap-active{
                        background-color: vars.$light-color;
                        color:vars.$dark-color;
                        border:none;
                    }

                }

                &--allText-container{
                    margin-left:3rem;
                    width:50%;
                
                    &--headingText{
                        font-size:1.2rem;
                        color:vars.$text-color;
                        text-transform: uppercase;
                        font-family:vars.$secondary-font;
                        letter-spacing: 3px;
                    }

                    &--titleText{
                        text-transform:uppercase;
                        font-family:vars.$general-font;
                        color:vars.$light-color;
                        font-size:4rem;
                        margin:25px 0;
                    }

                    &--description{
                        width:77%;
                        font-size:18px;
                        letter-spacing: 0.5px;
                        line-height:40px;
                    }
                }
            }

        }

    }
}       
        

// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .technology{
        background:url('/assets/technology/background-technology-tablet.jpg') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .technology-content{
            width:100%;
    
            &--image-container{
                width: 101%;
                margin: 4.5vh 0;
                
                &--image{
                    position: relative;
                    width: inherit;

                    img{
                        width: inherit;
                        background-size: cover;
                        -webkit-background-size: cover;
                    }
                }
            }

            // Flex Container
            .technology-flex{
                width: 90%;
                height: auto;
                margin: auto auto;
                flex-direction: column;
                justify-content: unset;
                
                // Flex Content
                &-allText-nd-buttons{
                    width: 100%;
                    flex-direction: column;
                    justify-content: unset;
                    align-content: unset;
                    margin: auto;
                    text-align: center;
    
                    &--buttons-container{                
                        width: 40%;
                        flex-direction: row;

                        &--button{
                            font-size:1.5rem;
                            width:70px;height:70px;
                            margin:0 auto;
                        }
                    }
                

                    &--allText-container{
                        margin: 4.5vh auto auto auto;
                        width:inherit;
    
                        &--titleText{
                            font-size:3rem;
                            margin:25px 0;
                        }
    
                        &--description{
                            width: 75%;
                            line-height: 35px;
                            margin: auto auto;
                        }
                    }
                }
            }
        }
    }
}

// # Media query -- MOBILE
@media screen and (max-width: 767px) {
    .technology{
        background:url('/assets/technology/background-technology-mobile.jpg') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        .technology-content{
            width:90%;
            color:vars.$text-color;
            margin: auto auto;
            text-align:center;
    
            &--image-container{
                display:flex;
                justify-content: right;
                width:50%;
                
                &--image{
                    position:relative;
                    right:0;
    
                }
            }

            // Flex Container
            .technology-flex{
                width:80%;
                height:60vh;
                display:flex;
                flex-direction: column-reverse;
                justify-content:space-between;
                
                // Flex Content
                &-allText-nd-buttons{
                    display:flex;
                    justify-content:flex-start;
                    align-content: center;
                    align-items:center;
                    margin-left:7.5rem;
                    gap:10%; 
    
                    &--buttons-container{
                        display:flex;
                        flex-direction:row;
                    }
                }
            }
        }
    }
}