// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
.technology{
    background:url('/assets/technology/background-technology-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// ## Media queries for responsivness ##
@media screen and (min-width: 1024px) {
    
}
// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}
// # Media query -- MOBILE
@media screen and (max-width: 767px) {

    }