// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##

// # The whole page -- background
.destinations{
    background:url('/assets/destination/background-destination-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // # Page Content
    .destinations-content{
        width:90%;
        margin: auto auto;

        // # Flex Container
        .destination-flex{
            width:80%;
            margin: auto auto;

            // # Flex Content -- Image + Navbar & Text
            &-content{
                display:flex;
                flex-direction: row-reverse;
                justify-content:space-between;
        
                // # Image Container on the Left
                .destination-flex-image{
                    display:flex;
                    align-content:center;
                    align-items:center;
                    justify-content:center;
                }
    
                // # Text Container on the Right
                .destination-flex-allText{
                    width:50%;

                    // # Navigation between Destinations
                    &--tabs{
                        width:40%;
                        gap:18%;

                        // # Every Planet Destination Link
                        .tabtext{
                            color:vars.$text-color;
                            font-size:16px;
                            letter-spacing: 2.7px;
                            padding-bottom:15px;
                            cursor:pointer;
                            transition: color 0.3s;
                            -webkit-transition: color 0.3s;
                            -moz-transition: color 0.3s;
                            -ms-transition: color 0.3s;
                            -o-transition: color 0.3s;
                        }
                        
                        // # Every Planet Destination Link effect on hover
                        .tabtext:hover{
                            color:vars.$light-color;
                            border-bottom:4px solid vars.$hover-border;
                            transition: color 0.3s;
                            -webkit-transition: color 0.3s;
                            -moz-transition: color 0.3s;
                            -ms-transition: color 0.3s;
                            -o-transition: color 0.3s;
                        }

                        // # Every Planet Destination Link -- active & hover
                        .moon--active, .moon--active:hover, .mars--active, .mars--active:hover, .europa--active, .europa--active:hover, .titan--active, .titan--active:hover{
                            color:vars.$light-color;
                            border-bottom:4px solid vars.$light-color;
                        }
                    }

                    // # Planet Title
                    &--title{
                        text-transform: uppercase;
                        font-size:120px;
                        font-family:vars.$general-font;
                        padding:3rem 0 2rem 0;
                    }

                    // # Navbar & Suheading Containers (travel time/km)
                    .destination-flex-allText--tabs, .destination-flex-allText--subheadings{
                        display:flex;
                    }
                    
                    // # Text Content (paragraph) below navbar & title
                    .destination-flex-allText--text{
                        padding-bottom:4rem;
                        width:80%;
                    }

                    // # Line between paragraph & subheadings
                    &--line{
                        position:relative;
                        background-color:vars.$light-color;
                        width:100%;
                        height:1px;
                        opacity:0.5;
                        z-index:99;
                    }
                    
                    
                    // # Subheadings
                    .destination-flex-allText--subheadings{
    
                        // # Column
                        .column{
                            margin:25px 0;
                            width:50%;
                            
                            // # SubHeading titles
                            .subheading2{
                                color:vars.$text-color;
                            }
                        }
                    }
                }
            }
        }
    }
}


// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    // # The whole page -- background
    .destinations{
        background:url('/assets/destination/background-destination-tablet.jpg') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        // # Page Content
        .destinations-content{

            // # Flex Container
            .destination-flex{
                width:100%;
                text-align:center;
                margin: auto auto;

                // # Flex Content -- Image + Navbar & Text
                &-content{
                    display:flex;
                    flex-direction: column-reverse;
            
                    // # Image Container on the Left
                    .destination-flex-image{
                        padding:3rem 0;

                        img{
                            width:70%;
                        }
                    }
        
                    // # Text Container on the Right
                    .destination-flex-allText{
                        width:80%;
                        margin:auto;

                        // # Navigation between Destinations
                        &--tabs{
                            justify-content:center;
                            width:100%;
                            gap:4%;

                        }

                        // # Planet Title
                        &--title{
                            text-transform: uppercase;
                            font-size:100px;
                            font-family:vars.$general-font;
                            padding:2rem 0 1rem 0;
                        }

                        
                        // # Text Content (paragraph) below navbar & title
                        .destination-flex-allText--text{
                            padding-bottom:2.5rem;
                            width:100%;
                        }

                                            // # Subheadings
                        .destination-flex-allText--subheadings{
    
                        // # Column
                        .column{
                            margin:10px 0;
                        }
                    }
                    }
                }
            }
        }
    }
}


// # Media query -- MOBILE
@media screen and (max-width: 767px) {
    .destinations{
        background:url('/assets/destination/background-destination-mobile.jpg') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        .destinations-content{
            width:90%;
            margin: auto auto;
    
            .destination-flex{
                width:80%;
                margin: auto auto;
    
    
                .destination-flex-content{
                    display:flex;
                    flex-direction: column;
                }
            }
        }
    }
}