// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
.destinations{
    background:url('/assets/destination/background-destination-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // Page Content
    .destinations-content{
        width:90%;
        margin: auto auto;

        // Flex Container
        .destination-flex{
            width:80%;
            margin: auto auto;

            // Flex Content -- Image + Navbar & Text
            &-content{
                display:flex;
                flex-direction: row-reverse;
                justify-content:space-between;
        
                // Image Container on the Left
                .destination-flex-image{
                    display:flex;
                    align-content:center;
                    align-items:center;
                    justify-content:center;
                }
    
                // Text Container on the Right
                .destination-flex-allText{
                    width:50%;

                    // Navigation between Destinations
                    &--tabs{
                        width:40%;
                        gap:18%;

                        // Every Planet Destination Link
                        .tabtext{
                            color:vars.$text-color;
                            font-size:16px;
                            letter-spacing: 2.7px;
                            padding-bottom:10px;
                            cursor:pointer;
                            transition: color 0.3s;
                            -webkit-transition: color 0.3s;
                            -moz-transition: color 0.3s;
                            -ms-transition: color 0.3s;
                            -o-transition: color 0.3s;
}
                        
                        .tabtext:hover{
                            color:vars.$light-color;
                            border-bottom:2px solid vars.$hover-border;
                            transition: color 0.3s;
                            -webkit-transition: color 0.3s;
                            -moz-transition: color 0.3s;
                            -ms-transition: color 0.3s;
                            -o-transition: color 0.3s;
}

                        .moon--active, .mars--active, .europa--active, .titan--active{
                            color:vars.$light-color;
                            border-bottom:2px solid vars.$light-color;
                        }
                        .moon--active:hover, .mars--active:hover, .europa--active:hover, .titan--active:hover{
                            color:vars.$light-color;
                            border-bottom:2px solid vars.$light-color;
                        }
                    }

                    // Planet Title
                    &--title{
                        text-transform: uppercase;
                        font-size:120px;
                        font-family:vars.$general-font;
                        padding:3rem 0 2rem 0;
                    }

                    // Navbar & Suheading Containers (travel time/km)
                    .destination-flex-allText--tabs, .destination-flex-allText--subheadings{
                        display:flex;
                    }
                    
                    // Text Content (paragraph) below navbar & title
                    .destination-flex-allText--text{
                        font-size:18px;
                        padding-bottom:4rem;
                        width:80%;
                    }

                    &--line{
                        position:relative;
                        background-color:vars.$light-color;
                        width:100%;
                        height:1px;
                        opacity:0.5;
                        z-index:99;
                    }
                    
                    
                    // Subheadings
                    .destination-flex-allText--subheadings{
    
                        // Column
                        .column{
                            margin:25px 0;
                            width:50%;
                            
                            //SubHeading titles
                            .subheading2{
                                color:vars.$text-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ## Media queries for responsivness ##
@media screen and (min-width: 1024px) {
    
}
// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .destinations{
        background:url('/assets/destination/background-destination-tablet.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
// # Media query -- MOBILE
@media screen and (max-width: 767px) {
    .destinations{
        background:url('/assets/destination/background-destination-mobile.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        .destinations-content{
            width:90%;
            margin: auto auto;
    
            .destination-flex{
                width:80%;
                margin: auto auto;
    
    
                .destination-flex-content{
                    display:flex;
                    flex-direction: column;
                }
            }
        }
    }
}