// # Import shared styles
@use '../../styles/index';



// ## Styling Component ##
.destinations{
    background:url('/assets/destination/background-destination-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}