// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
.destinations{
    background:url('/assets/destination/background-destination-desktop.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // Page Content
    .destinations-content{
        width:90%;
        margin: auto auto;

        // Flex Container
        .destination-flex{
            width:80%;
            margin: auto auto;

            // Flex Content -- Image + Navbar & Text
            .destination-flex-content{
                display:flex;
                justify-content:space-between;
        
                // Image Container on the Left
                .destination-flex-image{

                }
    
                // Text Container on the Right
                .destination-flex-allText{
                    width:50%;

                    // Navigation between Destinations
                    .destination-flex-allText--tabs{
                        width:70%;
                        justify-content:space-between;

                        // Every Planet Destination Link
                        .tabtext{
                            font-size:16px;
                            letter-spacing: 2.7px;
                            padding-bottom:10px;
                            cursor:pointer;
                            transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -ms-transition: all 0.3s;
                            -o-transition: all 0.3s;
                          }
                          
                          .tabtext:hover{
                            border-bottom:4px solid vars.$hover-border;
                            transition: all 0.3s;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -ms-transition: all 0.3s;
                            -o-transition: all 0.3s;
                          }
                          
                          .tabtext-active{
                          border-bottom:4px solid vars.$light-color;
                          }
                    }

                    // Navbar & Suheading Containers (travel time/km)
                    .destination-flex-allText--tabs, .destination-flex-allText--subheadings{
                        display:flex;
                    }
                    
                    // Text Content (paragraph) below navbar & title
                    .destination-flex-allText--text{
                        padding-bottom:2rem;
                    }
                    
                    
                    // Subheadings
                    .destination-flex-allText--subheadings{
                        border-top:0.5px solid vars.$text-color;
    
                        // Column
                        .column{
                            margin:25px 0;
                            width:50%;
                            
                            //SubHeading titles
                            .subheading2{
                                color:vars.$text-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ## Media queries for responsivness ##
@media screen and (min-width: 1024px) {
    
}
// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}
// # Media query -- MOBILE
@media screen and (max-width: 767px) {
    .destinations{
        background:url('/assets/destination/background-destination-mobile.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        .destinations-content{
            width:90%;
            margin: auto auto;
    
            .destination-flex{
                width:80%;
                margin: auto auto;
    
    
                .destination-flex-content{
                    display:flex;
                    flex-direction: column;
                }
            }
        }
    }
}