// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
header, .navigation--container-content, .navigation--container-content-logo-nd-line, .navigation--links-container, .navigation--links{
    display:flex;
}

header{
    position:relative;
    width:100%;
    z-index:5;
}

// # Navigation container to place navigation / header
.navigation--container{
    position:absolute;
    width:100%;
    height:100px;
    padding-top:2%;

    
    // # Navigation Container's whole content
    &-content{
        position:relative;
        width:100%;
        justify-content: space-around;
        align-items:center;

        // Navigation Logo & Line container
        &-logo-nd-line{
            width:60%;
            align-items:center;
            gap:5%;
            
            // ## Navigation Logo to the left
            .navigation--logo{
                display:block;
                width:48px;
                height:48px;
                margin-left:5em;
            }


            // ## Navigation line between logo & navigation
            .navigation--line{
                position:relative;
                left:2em;
                background-color:vars.$light-color;
                width:90%;
                height:1px;
                opacity:0.5;
                z-index:99;
            }
        }
        

        
        // ## Navigation Links
        .navigation--links-container {
            background-color:rgba(0,0,0,0.8);
            position:relative;
            width:100%;
            height:13vh;

            .navigation--links{
                width:90%;
                color:vars.$light-color;
                justify-content: space-evenly;
                align-items:center;
                
                // Every Links
                .nav-link{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    font-size: 23px;
                    letter-spacing: 3px;

                    &-label{
                        margin:auto;
                    }
                
                    // Active Link class
                    .active-bar{
                        width:100%;height:3px;
                        background-color: vars.$light-color;
                    }
                    
                    .unactive{
                        display:none;
                    }
                }

                .nav-link:hover{
                    border-bottom:3px solid vars.$hover-border;
                }

                .active:hover{
                    border:none;
                }
                    
                    // Number before link name
                    .strongNumber{
                        font-weight:bolder;
                        padding-right:5px;
                    }
            }
          }

        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            .navigation--links-container{
                background-color:rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(20px);
            }
        }
    }
}


// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
// # Navigation container to place navigation / header
.navigation--container{
    position:fixed;
    height:0px;
    padding-top:0%;

    // # Navigation Container's whole content
    &-content{

        // Navigation Logo & Line container
        &-logo-nd-line{
            width:60%;
            
            // ## Navigation Logo to the left
            .navigation--logo{
                margin-left:3em;
            }

            // ## Navigation line between logo & navigation
            .navigation--line{
                display:none;
            }
        }
            // ## Navigation Links
            .navigation--links-container{
                height:13vh;

                .navigation--links{
                    width:100%;
                    justify-content: space-evenly;
                    align-items:center;
                    
                    // Every Links
                    .nav-link{
                        font-size:17px;
                        letter-spacing: 3px;
                    
                        }
                        
                        // Number before link name
                        .strongNumber{
                            display:none;
                        }
                }
            }
        
    }
}
}


// # Media query -- MOBILE
@media screen and (max-width: 767px) {
// # Navigation container to place navigation / header
.navigation--container{
    position:fixed;
    width:100%;
    height:0px;
    padding-top:0%;
    
    // # Navigation Container's whole content
    &-content{
        justify-content: unset;
        align-items: unset;

        // Navigation Logo & Line container
        &-logo-nd-line{
            position:absolute;
            
            // ## Navigation Logo to the left
            .navigation--logo{
                display:block;
                position:relative;
                width:48px;
                height:48px;
                margin-left:1.5em;
                margin-top:1.5rem;
            }


            // ## Navigation line between logo & navigation
            .navigation--line{
                display:none;
            }
        }
        

        // # Icon to close burger menu
        .close-icon-container{
            position:absolute;
            right:0;
            z-index:99;
            
            
            &--close-icon{
                position:relative;
                margin-right:1.2em;
                margin-top:1.75rem;
                color:vars.$text-color;
            }
        }
        
        // ## Navigation Links
        .navigation--links-container{
            width: 70%;
            margin: auto 0 auto auto;
            height: 100vh;
            background-color:rgba(0,0,0,0.8);
            
            .navigation--links{
                width:100%;
                color:vars.$light-color;
                margin-top: 15vh;
                padding:0;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap:3%;
                
                // Every Links
                .nav-link{
                    width:100%;
                    height:auto;
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding:0.5rem 0 0.5rem 2rem;
                    gap:2%;

                    &-label{
                        margin:0;
                    }

                    .active-bar{
                        height:100%;width:8px;
                        background-color: vars.$light-color;
                    }

                    .unactive{
                        display:none;
                    }
                }

                // Active Link class
                .active{
                    border:none;
                }

                .nav-link:hover{
                    border-bottom:none;
                }
                    
                    // Number before link name
                    .strongNumber{
                        font-weight:bolder;
                        padding-right:5px;
                    }
            }
        }

        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            .navigation--links-container{
                background-color:rgba(255,255,255,0.1);
            }
        }
    }
}
}