// # Import shared styles
@use '../../styles/index';



// ## Styling Component ##
header, .navigation--container, .navigation--container ul{
    display:flex;
}

header{
    position:relative;
    justify-content:space-between;
}
.navigation--container{
    position:absolute;
    width:100%;
    height:100px;

    ul{
    }
}

.navigation--line{
    border:0.5px solid #fff;
    height:1px;
    width:33%;
    margin:10px 20px;
}

.navigation--logo{
display:block;
}

.navlink{
    padding:10px;
}

.strongNumber{
    font-weight:bolder;
}


// ## Media queries for responsivness ##
@media screen and (min-width: 1024px) {
    
}
// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}
// # Media query -- MOBILE
@media screen and (max-width: 767px) {

    }