// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
header, .navigation--container-content, .navigation--container-content-logo-nd-line, .navigation--links-container, .navigation--links{
    display:flex;
}

header{
    position:relative;
    width:100%;
}

// # Navigation container to place navigation / header
.navigation--container{
    position:absolute;
    width:100%;
    height:100px;
    padding-top:2%;

    
    // # Navigation Container's whole content
    &-content{
        position:relative;
        width:100%;
        justify-content: space-around;
        align-items:center;

        // Navigation Logo & Line container
        &-logo-nd-line{
            width:70%;
            align-items:center;
            gap:5%;
            
            // ## Navigation Logo to the left
            .navigation--logo{
                display:block;
                width:48px;
                height:48px;
                margin-left:5em;
            }


            // ## Navigation line between logo & navigation
            .navigation--line{
                position:relative;
                left:2em;
                background-color:vars.$light-color;
                width:90%;
                height:1px;
                opacity:0.5;
                z-index:99;
            }
        }
        

        
        // ## Navigation Links
        .navigation--links-container{
            position:relative;
            width:100%;
            background-color:rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(100px);


            .navigation--links{
                width:90%;
                justify-content: space-evenly;
                align-items:center;
                
                // Every Links
                .nav-link{
                    padding:3rem 0;
                    font-size:23px;
                    letter-spacing: 3px;
                
                    // Active Link class
                    & .active{
                        border-bottom:3px solid vars.$light-color;
                    }
                
                    // Non-Active link
                    &.unselected{
                        border:none;
                    }
                    }
    
                .nav-link:hover{
                    border-bottom:3px solid vars.$hover-border;
                }
                    
                    // Number before link name
                    .strongNumber{
                        font-weight:bolder;
                        padding-right:5px;
                    }
            }
        }
    }
}


// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
// # Navigation container to place navigation / header
.navigation--container{
    position:fixed;
    height:0px;
    padding-top:0%;

    // # Navigation Container's whole content
    &-content{

        // Navigation Logo & Line container
        &-logo-nd-line{
            width:60%;
            
            // ## Navigation Logo to the left
            .navigation--logo{
                margin-left:3em;
            }

            // ## Navigation line between logo & navigation
            .navigation--line{
                display:none;
            }
        }
            // ## Navigation Links
            .navigation--links-container{

                .navigation--links{
                    width:100%;
                    justify-content: space-evenly;
                    align-items:center;
                    
                    // Every Links
                    .nav-link{
                        padding:2.7rem 0;
                        font-size:17px;
                        letter-spacing: 3px;
                    
                        }
                        
                        // Number before link name
                        .strongNumber{
                            display:none;
                        }
                }
            }
        
    }
}
}
// # Media query -- MOBILE
@media screen and (max-width: 767px) {
// # Navigation container to place navigation / header
.navigation--container{
    position:fixed;
    width:100%;
    height:0px;
    padding-top:0%;
    
    // # Navigation Container's whole content
    &-content-mobile{
        display:flex;

        // Navigation Logo & Line container
        &-logo-nd-line{
            position:relative;
            width:30%;
            
            // ## Navigation Logo to the left
            .navigation--logo{
                display:block;
                width:48px;
                height:48px;
                margin-left:1.5em;
                margin-top:1.5rem;
            }


            // ## Navigation line between logo & navigation
            .navigation--line{
                display:none;
            }
        }
        

        // # Icon to close burger menu
        .close-icon-container{
            position:absolute;
            right:0;
            z-index:99;
            
            
            &--close-icon{
                position:relative;
                margin-right:1.5em;
                margin-top:1.75rem;
                color:vars.$text-color;
            }
        }
        
        // ## Navigation Links
        .navigation--links-container{
            height:100vh;
            padding-top:10vh;
            justify-content: flex-end;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(100px);
            
            
            .navigation--links{
                width:90%;
                flex-direction: column;
                
                // Every Links
                .nav-link{
                    padding:1.5rem 0;
                    font-size:23px;
                    letter-spacing: 3px;
                
                    // Active Link class
                    & .active{
                        border-right:3px solid vars.$light-color;
                    }

                    }
    
                .nav-link:hover{
                    border-bottom:none;
                }
                    
                    // Number before link name
                    .strongNumber{
                        font-weight:bolder;
                        padding-right:5px;
                    }
            }
        }
    }
}
}