// # Import shared styles
@use 'src/styles/vars';
@use 'src/styles/index';



// ## Styling Component ##
header, .navigation--container, .navigation--container ul{
    display:flex;
}

header{
    position:relative;
    justify-content:space-between;
    width:100%;
}
.navigation--container{
    position:absolute;
    width:100%;
    height:100px;
    padding:50px;
}

.navigation--line{
    border:0.2px solid vars.$light-color;
    height:1px;
    width:50%;
    margin:10px 20px;
    opacity:0.5;
}

.navigation--logo{
display:block;
}

.navlink{
        padding:0 20px;
    }

    .navlink-active{
        border-bottom:2px solid vars.$light-color;
    }
    
    .strongNumber{
        font-weight:bolder;
    }



// ## Media queries for responsivness ##
@media screen and (min-width: 1024px) {
    
}
// # Media query -- TABLET
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .strongNumber{
        display:hidden;
    }
}
// # Media query -- MOBILE
@media screen and (max-width: 767px) {

    }